# Export Attributes
.gitattributes export-ignore
.gitignore export-ignore

README.md export-ignore
LICENSE export-ignore

# Text Attributes
* text=auto

*.md text eolf=lf

*.cfg text eolf=crlf
*.conf text eolf=crlf

# Code Attributes
*.cs diff=csharp eolf=crlf

*.csproj eolf=crlf
*.sln eolf=crlf
