# Ignore all Documentation and Testing Data
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
SECURITY.md export-ignore
LICENSE export-ignore

# Text Qualifier
* text=auto

*.md text eol=lf

*.cfg text eol=crlf
*.conf text eolf=crlf

*.cs diff=csharp eol=crlf

*.png binary
*.jpg binary
*.bmp binary
